grant {
  permission java.security.AllPermission "", "";
                
};


grant codeBase "file:target/classes/" {
    permission java.security.AllPermission;
};


